body{
	background-image: url("../../resources/imgsAll/milky_way_background.jpeg");
	padding: 0;
	margin: 5px;
	z-index: 0;
}

ul {
    list-style-type: none;
	margin-top:5%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	margin-left: 20%;
	margin-right: 20%;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active{
	background-color: #339EFF;
	color: white;
}

li a:hover{
	background-color: #555;
	color: white;
}

.wrapperDiv{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	margin-top:1%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	overflow: auto;
}


div,img, p {
	margin: 1%;
}

p, h2{
	text-indent: 2em;
}

table{
	border-spacing: 0 5px; border:none;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 2%;
}

td{
	border: 1px solid white;
}

#mainTable{
	width : 70%;
}
